html {
    font-size: 10px; /* 1 rem motsvarar nu 10px */
  }

  :root {
    --color-1: rgb(51, 51, 51);
    --color-2: hsl(299, 84%, 83%);
    --color-3: hsl(266, 71%, 73%);
    --color-4: hsl(230, 80%, 72%);
    --color-5: hsl(192, 89%, 71%);
    --color-6: hsl(192, 50%, 50%);
    --color-7: hsl(190, 74%, 59%); 
    --bg: hsl(198, 51%, 35%);
    --text: hsl(197, 20%, 10%);
}

/* BODY */
body {
  font-family: montserrat, arial, verdana;
}

/* <!-----------------------------START NAV----------------------------> */
.nav_bar {
  font-size: 1.6rem;
  margin-bottom: 2rem;
}

/* <!-----------------------------SLUT NAV----------------------------> */

/* <!----------------------------- Kontakt Info ----------------------------> */
.form_div {
  background: white;
  border: 0 none;
  border-radius: 3px;
  box-shadow: 0 0 15px 1px rgba(0, 0, 0, 0.4);
  padding: 20px 30px;
  box-sizing: border-box;
  width: 80%;
  margin: 0 10%;
  position: relative;
}

.kontaktinfo {
  font-size: 1.6rem;
}

input {
  padding: 15px;
  border: 1px solid #ccc;
  border-radius: 3px;
  margin-bottom: 10px;
  width: 100%;
  box-sizing: border-box;
  font-family: montserrat;
  color: #2C3E50;
  font-size: 13px;
}
/* <!-----------------------------START DEL 1----------------------------> */
.list_hjälpmedel {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr)); /* Anpassa efter behov */
  gap: 20px; /* Justera avståndet mellan bilderna */
  list-style: none; /* Ta bort punktlistan från ol-elementet */
}

.img_cont {
  border: 1px solid #ccc; /* Lägg till en ram runt varje bild */
  padding: 10px; /* Justera utrymmet inuti ramen */
  text-align: center; /* Centrera text och bild */
}

.img_hjälpmedel {
  max-width: 100%; /* Säkerställ att bilden inte överskrider ramens bredd */
}

label {
  display: block; /* Gör label till ett blockelement för att placera den ovanför bilden */
  margin-bottom: 5px; /* Justera avståndet mellan etiketten och bilden */
}

.marked {
  border: 2px solid blue;
  opacity: 0.7;
}

/* <!-----------------------------SLUT DEL 1----------------------------> */


/* <!-----------------------------START DEL 2----------------------------> */
.img_hjälpmedel {
  height: 50vw;
  width: 50vw;
}

/* <!-----------------------------SLUT DEL 2----------------------------> */


/* <!-----------------------------START DEL 3----------------------------> */
.img_fordon_hjälpmedel {
  width: 50vw;
  height: 50vw;
}

/* <!-----------------------------SLUT DEL 3----------------------------> */


/* <!-----------------------------FOOTER DEL 1----------------------------> */

.kroppen_img {
    width: 20rem;
    height: 30rem;
}

.footer_container {
    background-color: var(--color-1);
    border-color: var(--color-1);
}

.checkboxfragor1,
.checkboxfragor2,
.checkboxfragor3 {
    font-size: 1.6rem;
}

.hjälpmedel {
    font-size: 1.6rem;
}

.ol_sliders{
    font-size: 1.6rem;
}

.logotyper {
  width: 15vw;
}


.grid-container {
    display: grid;
    grid-template-columns: repeat(3, 2fr); /* creates two columns */
    grid-gap: 1rem; /* space between items */
    padding: 1rem;
  }
  
  .grid-item {
    background-color: var(--color-1); /* or any other color or style you prefer */
    border: 0.1rem solid #ccc; /* optional border */
    padding: 1rem;
    text-align: center; /* Center the images inside the grid */
  }
  
  .grid-item img {
    width: 100%; /* Make image fill the container, you can adjust this */
    height: auto; /* Maintain aspect ratio */
  }

  .grid-item1 {
    grid-column-start: 1;
    grid-column-end: 2;
  }