html {
  font-size: 10px; /* 1 rem motsvarar nu 10px */
}

:root {
  --color-1: rgb(51, 51, 51);
  --color-2: hsl(0, 0%, 100%);
  --color-3: hsl(266, 71%, 73%);
  --color-4: hsl(230, 80%, 72%);
  --color-5: hsl(192, 89%, 71%);
  --color-6: hsl(192, 50%, 50%);
  --color-7: hsl(190, 74%, 59%);
  --bg: hsl(198, 51%, 35%);
  --text: hsl(197, 20%, 10%);
  --text-white: hsl(0, 0%, 100%);
  --text-grey: hsl(0, 0%, 84%);
  --text-hover: hsl(199, 100%, 40%);
  --button: hsl(199, 100%, 51%);
  /* --body_typography-font-family: Roboto;  VAD GÖR DERNNA? */
}
/* BODY */
body {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif, arial, verdana;
  font-weight: 300;
  }
  
label {
  display: block; /* Gör label till ett blockelement för att placera den ovanför bilden */
  margin-bottom: .5rem; /* Justera avståndet mellan etiketten och bilden */
  font-size: 1.5rem;
}

h3{
  font-size: 1.5rem;
}

h5{
  font-size: 1.5rem;
}
/* ------------------------------------------------------NAV---------------------------------------------------------- */
.adminIMG{
  max-block-size: 2rem;
  float: right;
}
/* ------------------------------------------------------NAV---------------------------------------------------------- */
/* ------------------------------------------------------KONTAKTINFO---------------------------------------------------------- */
.kontaktinfo div:nth-child(1) {
  grid-area: fnamn;
}
.kontaktinfo div:nth-child(2) {
  grid-area: enamn;
}
.kontaktinfo div:nth-child(3) {
  grid-area: telnr;
}
.kontaktinfo div:nth-child(4) {
  grid-area: mail;
}

/* .hjälpmedel_textfield input{
  width: 45%;
} */
.kontaktinfo {
  font-size: 1.6rem;
  margin: 5rem 0rem;
}

input {
  border: .1rem solid #ccc;
  border-radius: .3rem;
 
  width: 100%;
  box-sizing: border-box;
  font-family: montserrat;
  color: var(--color-1);

}
/* ------------------------------------------------------KONTAKTINFO---------------------------------------------------------- */
/* ------------------------------------------------------KROPPEN---------------------------------------------------------- */
.rubrikKroppen h3:nth-child(1){
  text-align: left;
  grid-area: rubrik;
  align-self: flex-end;
}


.section_sliders h3:nth-child(1) {
  text-align: left;
  grid-area: header;
  align-self: flex-end;
}
.section_sliders li:nth-child(2) {
  grid-area: harm;
}
.section_sliders li:nth-child(3) {
  grid-area: varm;
}
.section_sliders li:nth-child(4) {
  grid-area: hben;
}
.section_sliders li:nth-child(5) {
  grid-area: vben;
}
.section_sliders li:nth-child(6) {
  grid-area: hhand;
}
.section_sliders li:nth-child(7) {
  grid-area: vhand;
}
.section_sliders li:nth-child(8) {
  grid-area: gåförmåga;
}
.section_sliders li:nth-child(9) {
  grid-area: längd;
}
.section_sliders li:nth-child(10) {
  grid-area: vikt;
}

.section_sliders{
  font-size: 1.5rem;
  list-style: none;
}

.slider_input{
  padding: 1rem;
}
.range_slider{
  margin-bottom: 2.5rem;
}
/* ------------------------------------------------------KROPPEN---------------------------------------------------------- */
/* ------------------------------------------------------HJÄLPMEDEL---------------------------------------------------------- */
.hjälpmedel .grid-hjälpmedel h3:nth-child(1) {
  text-align: left;
  grid-area: header;
  /* align-self: flex-end; */
}
.hjälpmedel .grid-hjälpmedel div:nth-child(2) {
  grid-area: kryckor;
}
.hjälpmedel .grid-hjälpmedel div:nth-child(3) {
  grid-area: rullator;
}
.hjälpmedel .grid-hjälpmedel div:nth-child(4) {
  grid-area: rullstol;
}
.hjälpmedel .grid-hjälpmedel div:nth-child(5) {
  grid-area: hjälpmotor;
}
.hjälpmedel .grid-hjälpmedel div:nth-child(6) {
  grid-area: elmoped;
}
.hjälpmedel .grid-hjälpmedel div:nth-child(7) {
  grid-area: permobil;
} 
.hjälpmedel .grid-hjälpmedel div:nth-child(8) {
  grid-area: annat;
} 

.hjälpmedel .grid-hjälpmedel {
  display: grid;
  gap: 1.5rem;
  grid-template-rows: auto;
  grid-template-columns: repeat(1, 1fr);
  grid-template-areas: 
  "header"
  "kryckor" 
  "rullator"
  "rullstol" 
  "hjälpmotor"
  "elmoped" 
  "permobil"
  "annat";
}

.img_hjälpmedel {
  max-width: 100%; /* Säkerställ att bilden inte överskrider ramens bredd */
}

/* .hjälpmedel_textfield input{
  width: 50%;
} */

.img_cont_hjälpmedel {
   border: .1rem solid #ccc; /* Lägg till en ram runt varje bild */
   padding: 1rem; /* Justera utrymmet inuti ramen */
   text-align: center; /* Centrera text och bild */
}



.hjälpmedel_med_i_fordon, .checkbox_container{
  display: none;
}
.rubrikHjälpmedelFordon{
  display: none;
}
/* .hjälpmedel_med_i_fordon{
  display: none;
} */
/* ------------------------------------------------------HJÄLPMEDEL---------------------------------------------------------- */

/* ------------------------------------------------------FORDON---------------------------------------------------------- */
.cont_fordon {
  display: grid;
  gap: 1.5rem;
  grid-template-areas:
    "header" 
    "mindreBil" 
    "kombi"
    "suv" 
    "transportbil"
    "amerikansk" 
    "minibuss"
    "annat"
    "vetej";
  grid-template-rows: auto;
  grid-template-columns: repeat(1, 1fr);
}

.fordon h3:nth-child(1) {
  text-align: left;
  grid-area: header;
}

.fordon div:nth-child(2){
  text-align: left;
  grid-area: area2;
}
.fordon div:nth-child(3){
  text-align: left;
  grid-area: area3;
}
.fordon div:nth-child(4){
  text-align: left;
  grid-area: area4;
}
.fordon div:nth-child(5){
  text-align: left;
  grid-area: area5;
}


.grid-fordon h3:nth-child(1) {
  text-align: left;
  grid-area: header;
  align-self: flex-end;
}
.grid-fordon h3:nth-child(2) {
  text-align: left;
  grid-area: header;
  align-self: flex-end;
}
.img_cont_fordon:nth-child(3) {
  grid-area: mindreBil;
}
.img_cont_fordon:nth-child(4) {
  grid-area: kombi;
}
.img_cont_fordon:nth-child(5) {
  grid-area: suv;
}
.img_cont_fordon:nth-child(6) {
  grid-area: transportbil;
}
.img_cont_fordon:nth-child(7) {
  grid-area: amerikansk;
}
.img_cont_fordon:nth-child(8) {
  grid-area: minibuss;
}
.grid-fordon div:nth-child(9) {
  grid-area: annat;
}
.grid-fordon div:nth-child(10) {
  grid-area: vetej;
}

.img_fordon_hjälpmedel {
  max-width: 100%;
}

.fordon_yes {
  display: flex;
  flex-direction: column;
  gap: 1rem; 
  display: none; 
}

.if_yes{
  display: none;
}

.fordon_no {
  display: flex;
  flex-direction: column;
  gap: 1rem; 
  display: none; 
}

.if_no{
  display: none;
}

.fordon_label_container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.fordon_input {
  width: 10%; 
}


.img_cont_fordon{
  border: .1rem solid #ccc; 
  padding: 1rem; 
  text-align: center; 
  display: none;
}

.marked {
  border: .2rem solid blue;
  opacity: 0.7;
} 

.fordon_textfield{
  display: none;
}
.fordon_textfield1{
  display: none;
}

.skicka{
  background-color: var(--button);
  padding: 4px 15px;
  text-align: center;
  text-decoration: none;
  font-size: 11px;
  border-radius: 5px;
  border: 2px solid, color(--color-1);
  
}
.skicka:hover{
  box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
}

/* ------------------------------------------------------FORDON---------------------------------------------------------- */



/* ------------------------------------------------------FOOTER---------------------------------------------------------- */

.footer_container {
  background-color: var(--color-1);
  border-color: var(--color-1);
}


footer {
  color: var(--color-2);
}

footer a {
  color: var(--text-grey);
  text-decoration: none;
  
}

/* ------------------------------------------------------ 320px ------------------------------------------------------------ */
@media only screen and (min-width: 320px){
    .kontaktinfo {
      display: grid;
      gap: 1.5rem;
      grid-template-rows: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
      grid-template-areas: 
      "fnamn enamn"
      "telnr mail";
    }

    .kontaktinfo div {
        display: grid;
        align-items: center;
        text-align: left;
    }
    
    .hjälpmedel .grid-hjälpmedel {
      display: grid;
      gap: 1.5rem;
      grid-template-rows: auto;
      grid-template-columns: repeat(2, 1fr);
      grid-template-areas: 
      "header header"
      "kryckor rullator"
      "rullstol hjälpmotor"
      "elmoped permobil"
      "annat .";
    }


    .cont_fordon {
      display: grid;
      gap: 1.5rem;
      grid-template-areas:
        "header header" 
        "mindreBil kombi"
        "suv transportbil"
        "amerikansk minibuss"
        "annat vetej";
      grid-template-rows: auto;
      grid-template-columns: repeat(2, 1fr);
    }

}
/* ------------------------------------------------------ 500px ------------------------------------------------------------ */
@media only screen and (min-width: 500px) {
  .siluett {
    display: block;
    margin: 0 auto;
    width: 48rem;
  } 
}
/* ------------------------------------------------------ 768px ------------------------------------------------------------ */
  @media only screen and (min-width: 768px) {

    .section_sliders {
      display: grid;
      gap: 1.5rem;
      grid-template-rows: repeat(2, 1fr);
      grid-template-columns: repeat(2, 1fr);
      grid-template-areas: 
      "header header"
      "hhand vhand"
      "harm varm"
      "hben vben"
      "gåförmåga gåförmåga"
      "längd vikt";
    }

    .hjälpmedel .grid-hjälpmedel {
      display: grid;
      gap: 1.5rem;
      grid-template-rows: auto;
      grid-template-columns: repeat(3, 1fr);
      grid-template-areas: 
      "header header ."
      "kryckor rullator rullstol"
      "hjälpmotor elmoped permobil"
      "annat . .";
    }

    .fordon {
      display: grid;
      gap: 1.5rem;
      grid-template-rows: auto;
      grid-template-columns: repeat(3, 1fr);
      grid-template-areas: 
      "header header . "
      "area2 . . "
      "area3 . . "
      "area4 area4 . "
      "area5 . . ";
    }
  
    .cont_fordon {
      display: grid;
      gap: 1.5rem;
      grid-template-areas:
        "header header ."
        "mindreBil kombi suv"
        "transportbil amerikansk minibuss"
        "annat . vetej";
      grid-template-rows: auto;
      grid-template-columns: repeat(3, 1fr);
    }
   
}

/* ------------------------------------------------------ 1024px ------------------------------------------------------------ */
  @media only screen and (min-width: 1024px) {
    .kontaktinfo {
      display: grid;
      gap: 1.5rem;
      grid-template-rows: repeat(2, 1fr);
      grid-template-columns: repeat(4, 1fr);
      grid-template-areas: 
      " . fnamn enamn . "
      " . telnr mail . ";
    }
    .rubrikKroppen {
      display: grid;
      gap: 1.5rem;
      grid-template-areas: 
        ". rubrik rubrik ."; /* Placerar rubrikområdet i andra och tredje kolumnen */
      grid-template-rows: repeat(1, 1fr);
      grid-template-columns: repeat(4, 1fr);
    }

    .siluett {
      display: block;
      margin: 0 auto;
      width: 58rem;
    } 

    .section_sliders {
      display: grid;
      gap: 1.5rem;
      grid-template-rows: repeat(6, 1fr);
      grid-template-columns: repeat(4, 1fr);
      grid-template-areas: 
      " . header header . "
      " . hhand vhand . "
      " . harm varm . "
      " . hben vben . "
      ". gåförmåga gåförmåga ."
      ". längd vikt .";
    }

    .hjälpmedel .grid-hjälpmedel {
      display: grid;
      gap: 1.5rem;
      grid-template-rows: auto 1fr auto auto; 

      grid-template-columns: repeat(5, 1fr);
      grid-template-areas: 
      " . header header . ."
      " . kryckor rullator rullstol . "
      " . hjälpmotor elmoped permobil . "
      " . annat . . .";
    }

    .hjälpmedel_med_i_fordon h3:nth-child(1){
      grid-area: rubrik;
    }
    .hjälpmedel_med_i_fordon div:nth-child(2){
      grid-row-start: 2; /* Börjar på rad 2 */
      grid-row-end: auto; /* Anpassar sig till innehållets höjd */
      grid-column-start: 2; /* Börjar på kolumn 2 */
      grid-column-end: 6; /* Anpassar sig till innehållets bredd */
    }
    .hjälpmedel_med_i_fordon div:nth-child(n + 3) {
      grid-row: auto; /* Låt griden bestämma raden */
      grid-column-start: 2; /* Låt griden bestämma kolumnen */
      grid-column-end: 6;
    }
    .hjälpmedel_med_i_fordon div:nth-child(n + 4){
      grid-row: auto; /* Låt griden bestämma raden */
      grid-column-start: 2; /* Låt griden bestämma kolumnen */
      grid-column-end: 6;
    }
    .hjälpmedel_med_i_fordon div:nth-child(n + 5){
      grid-row: auto; /* Låt griden bestämma raden */
      grid-column-start: 2; /* Låt griden bestämma kolumnen */
      grid-column-end: 6;
    }
    .hjälpmedel_med_i_fordon div:nth-child(n + 6){
      grid-row: auto; /* Låt griden bestämma raden */
      grid-column: 2; /* Låt griden bestämma kolumnen */
      grid-column-end: 6;
    }
    .hjälpmedel_med_i_fordon div:nth-child(n +7){
      grid-row: auto; /* Låt griden bestämma raden */
      grid-column-start: 2; /* Låt griden bestämma kolumnen */
      grid-column-end: 6;
    }

    .hjälpmedel_med_i_fordon{
      display: grid;
      gap: 1.5rem;
      grid-template-rows: auto 1fr auto auto;
      grid-template-columns: repeat(5, 1fr);
      grid-template-areas: 
      " . rubrik rubrik . ."
      " . . . . .";
      grid-auto-flow: row;
    }

    .fordon {
      display: grid;
      gap: 1.5rem;
      grid-template-areas:
        " . header header . . " 
        " . area2 area2 area2 . "
        " . area3 area3 area3 . "
        " . area4 area4 area4 . "
        " . area5 area5 area5 . ";
      grid-template-rows: auto 1fr auto auto; 
      grid-template-columns: repeat(5, 1fr);
    }

    .cont_fordon {
      display: grid;
      gap: 1.5rem;
      grid-template-areas:
        " . header header . . " 
        " . mindreBil kombi suv . "
        " . transportbil amerikansk minibuss . "
        " . annat . . ."
        ". vetej . . .";
      grid-template-rows: auto 1fr auto auto; 
      grid-template-columns: repeat(5, 1fr);
    }


  }
