
@media only screen and (min-width: 481px){
  .kontaktinfo {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    
  }
  
  .kontaktinfo div {
    flex-basis: 45%;
    margin: 1rem 1rem;
  }
}


  @media only screen and (min-width: 768px) {
/* -----------------KONTAKTINFO GRID---------------- */
    .kontaktinfo {
      display: grid;
      gap: 1.5rem;
      grid-template-rows: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
      grid-template-areas: 
      "fnamn enamn"
      "telnmr mail";
  }
  .kontaktinfo div {
      display: grid;
      /* justify-content: center; */
      align-items: center;
      text-align: left;
    }

    .kontaktinfo div:nth-child(1) {
      grid-area: fnamn;
    }
    .kontaktinfo div:nth-child(2) {
      grid-area: enamn;
    }
    .kontaktinfo div:nth-child(3) {
      grid-area: telnmr;
    }
    .kontaktinfo div:nth-child(4) {
      grid-area: mail;
    }
/* -------------------KROPPEN---------------------  */
    .siluett{
    width: 70%;
    padding: 0rem 7rem;
    }

/* -------------------DEL 1---------------------  */
    .section_sliders {
      display: grid;

      gap: 1.5rem;
      grid-template-rows: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
      grid-template-areas: 
      "header header"
      "vhand hhand"
      "varm harm"
      "vben hben";
    }
   
    .section_sliders h3:nth-child(1) {
      text-align: left;
      grid-area: header;
      align-self: flex-end;
    }
    .section_sliders li:nth-child(2) {
      grid-area: harm;
    }
    .section_sliders li:nth-child(3) {
      grid-area: varm;
    }
    .section_sliders li:nth-child(4) {
      grid-area: hben;
    }
    .section_sliders li:nth-child(5) {
      grid-area: vben;
    }
    .section_sliders li:nth-child(6) {
      grid-area: hhand;
    }
    .section_sliders li:nth-child(7) {
      grid-area: vhand;
    }
    /* -------------------DEL 2---------------------  */
    .hjälpmedel .grid-container {
      display: grid;
      gap: 1.5rem;
      grid-template-rows: 1fr 1fr;
      grid-template-columns: 1fr 1fr 1fr;
      grid-template-areas: 
      "elmoped permobil kryckor"
      "rullator rullstol hjälpmotor";
    }
   
    .hjälpmedel .grid-container div:nth-child(1) {
      grid-area: elmoped;
    }
    .hjälpmedel .grid-container div:nth-child(2) {
      grid-area: permobil;
    }
    .hjälpmedel .grid-container div:nth-child(3) {
      grid-area: kryckor;
    }
    .hjälpmedel .grid-container div:nth-child(4) {
      grid-area: rullator;
    }
    .hjälpmedel .grid-container div:nth-child(5) {
      grid-area: rullstol;
    }
   .hjälpmedel .grid-container div:nth-child(6) {
      grid-area: hjälpmotor;
    } 
   

    /* -------------------DEL 3---------------------  */

    .fordon .cont_fordon .grid-container {
      display: grid;
      gap: 1.5rem;
      grid-template-rows: 1fr 1fr 1fr;
      grid-template-columns: 1fr 1fr 1fr;
      grid-template-areas: 
      "mindreBil kombi suv"
      "transportbil amerikansk minibuss"
      "annatFordon . . ";
    }

    .cont_fordon{
      grid-template-columns: repeat(3,1fr);
    }
   
    .fordon .cont_fordon .grid-container div:nth-child(1) {
      grid-area: mindreBil;
    }
    .fordon .cont_fordon .grid-container div:nth-child(2) {
      grid-area: kombi;
    }
    .fordon .cont_fordon .grid-container div:nth-child(3) {
      grid-area: suv;
    }
    .fordon .cont_fordon .grid-container div:nth-child(4) {
      grid-area: transportbil;
    }
    .fordon .cont_fordon .grid-container div:nth-child(5) {
      grid-area: amerikansk;
    }
    .forodn .cont_fordon .grid-container div:nth-child(6) {
      grid-area: minibuss;
    } 
    .forodn .cont_fordon .grid-container div:nth-child(7) {
      grid-area: annatFordon;
    } 

}



  @media only screen and (min-width: 961px) {

    
    
  }


  @media only screen and (min-width: 1025px) {
    
  }

  @media only screen and (min-width: 1281px) {
    
  }