
@media only screen and (min-width: 320px){
  /* -----------------KONTAKTINFO GRID---------------- */
  .kontaktinfo {
    display: grid;
    gap: 1.5rem;
    grid-template-rows: 1fr 1fr;
    grid-template-columns: 1fr 1fr;
    grid-template-areas: 
    "fnamn enamn"
    "telnmr mail";
  }

  .kontaktinfo div {
      display: grid;
      /* justify-content: center; */
      align-items: center;
      text-align: left;
  }

  .kontaktinfo div:nth-child(1) {
    grid-area: fnamn;
  }
  .kontaktinfo div:nth-child(2) {
    grid-area: enamn;
  }
  .kontaktinfo div:nth-child(3) {
    grid-area: telnmr;
  }
  .kontaktinfo div:nth-child(4) {
    grid-area: mail;
  }

  .hjälpmedel_textfield input{
    width: 45%;
  }


/* -------------------KROPPEN---------------------  */


/* -------------------DEL 1---------------------  */
.hjälpmedel .grid-hjälpmedel {
  display: grid;
  gap: 1.5rem;
  grid-template-rows: repeat(3, 1fr);
  grid-template-columns: repeat(2, 1fr);
  grid-template-areas: 
  "kryckor rullator"
   "rullstol hjälpmotor"
  "elmoped permobil";
}

.hjälpmedel .grid-hjälpmedel div:nth-child(1) {
  grid-area: elmoped;
}
.hjälpmedel .grid-hjälpmedel div:nth-child(2) {
  grid-area: permobil;
}
.hjälpmedel .grid-hjälpmedel div:nth-child(3) {
  grid-area: kryckor;
}
.hjälpmedel .grid-hjälpmedel div:nth-child(4) {
  grid-area: rullator;
}
.hjälpmedel .grid-hjälpmedel div:nth-child(5) {
  grid-area: rullstol;
}
.hjälpmedel .grid-hjälpmedel div:nth-child(6) {
  grid-area: hjälpmotor;
} 

/* -------------------DEL 2---------------------  */
  

/* -------------------DEL 3------------------- */

    .cont_fordon {
      display: grid;
      gap: 1.5rem;
      grid-template-areas: 
        "mindreBil kombi"
        "suv transportbil"
        "amerikansk minibuss";
      grid-template-rows: repeat(3, 1fr);
      grid-template-columns: repeat(2, 1fr);
    }

    .img_cont_fordon:nth-child(1) {
      grid-area: mindreBil;
    }
    .img_cont_fordon:nth-child(2) {
      grid-area: kombi;
    }
    .img_cont_fordon:nth-child(3) {
      grid-area: suv;
    }
    .img_cont_fordon:nth-child(4) {
      grid-area: transportbil;
    }
    .img_cont_fordon:nth-child(5) {
      grid-area: amerikansk;
    }
    .img_cont_fordon:nth-child(6) {
      grid-area: minibuss;
    }

}

  @media only screen and (min-width: 768px) {
/* -----------------KONTAKTINFO GRID---------------- */
    
/* -------------------KROPPEN---------------------  */
    .siluett{
    width: 70%;
    padding: 0rem 7rem;
    }

/* -------------------DEL 1---------------------  */
    .section_sliders {
      display: grid;

      gap: 1.5rem;
      grid-template-rows: repeat(2, 1fr);
      grid-template-columns: repeat(2, 1fr);
      grid-template-areas: 
      "header header"
      "vhand hhand"
      "varm harm"
      "vben hben";
    }
   
    .section_sliders h3:nth-child(1) {
      text-align: left;
      grid-area: header;
      align-self: flex-end;
    }
    .section_sliders li:nth-child(2) {
      grid-area: harm;
    }
    .section_sliders li:nth-child(3) {
      grid-area: varm;
    }
    .section_sliders li:nth-child(4) {
      grid-area: hben;
    }
    .section_sliders li:nth-child(5) {
      grid-area: vben;
    }
    .section_sliders li:nth-child(6) {
      grid-area: hhand;
    }
    .section_sliders li:nth-child(7) {
      grid-area: vhand;
    }
    /* -------------------DEL 2---------------------  */
    .hjälpmedel .grid-hjälpmedel {
      display: grid;
      gap: 1.5rem;
      grid-template-rows: repeat(2, 1fr);
      grid-template-columns: repeat(3, 1fr);
      grid-template-areas: 
      "kryckor rullator rullstol"
      "hjälpmotor elmoped permobil";
    }
   
    /* -------------------DEL 3---------------------  */


    .cont_fordon {
      display: grid;
      gap: 1.5rem;
      grid-template-areas: 
        "mindreBil kombi suv"
        "transportbil amerikansk minibuss";
      grid-template-rows: repeat(2, 1fr);
      grid-template-columns: repeat(3, 1fr);
    }
   


}


  @media only screen and (min-width: 1024px) {

    .section_sliders {
      display: grid;
      gap: 1.5rem;
      grid-template-rows: repeat(2, 1fr);
      grid-template-columns: repeat(4, 1fr);
      grid-template-areas: 
      " . header header . "
      " . vhand hhand . "
      " . varm harm . "
      " . vben hben . ";
    }

    .hjälpmedel .grid-hjälpmedel {
      display: grid;
      gap: 1.5rem;
      
      grid-template-columns: repeat(5, 1fr);
      grid-template-areas: 
      " . kryckor rullator rullstol . "
      " . hjälpmotor elmoped permobil . ";
    }


    .cont_fordon {
      display: grid;
      gap: 1.5rem;
      grid-template-areas: 
        " . mindreBil kombi suv . "
        " . transportbil amerikansk minibuss . ";
      grid-template-rows: repeat(2, 1fr);
      grid-template-columns: repeat(5, 1fr);
    }



  }
